/* styles.css */



.navbar {
    background-color: #CC0000 !important;
}

.navbar .navbar-brand, .navbar .nav-link {
    color: white !important;
}

.table-light th {
    background-color: #CC0000;
    color: white;
}

.btn-outline-primary {
    color: #CC0000;
    border-color: #CC0000;
}

.btn-outline-primary:hover {
    background-color: #CC0000;
    color: white;
}

.btn-primary {
    background-color: #CC0000;
    border-color: #CC0000;
}

.btn-primary:hover {
    background-color: #BB0000; /* Slightly darker shade for hover effect */
    border-color: #BB0000;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
